body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:#696969;
	background-image:url(images/mainbg.jpg);
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size:100%;
}
a:link {
	text-decoration: none;
	font-weight: bold;
}

table {
	background-color: rgba(255,255,255,0.5);
}

input[type=submit] {
    width: 20em;  height: 2em;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

